<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab1Root" tabTitle="Map" tabIcon="map" id="tabsController-tab1"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Orders" tabIcon="cart" id="tabsController-tab6"></ion-tab>
</ion-tabs>