page-tabs-controller {
    #tab-t0-0{
        border-right: 1px #0c60ee solid;
    }

    /*Menu icon*/
    .tabs-md .tab-button-icon {
        margin-top: 1px;
        min-width: 2.4rem;
        font-size: 2.4rem;
        color: rgba(255, 255, 255, 0.6);
        transform-origin: 50% 150% 0px;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }

    /* Menu icon when selected #387ef5 */
    .tabs-md .tab-button[aria-selected="true"] .tab-button-icon {
        /*color: rgb(72, 138, 255);*/
        color: white;
        transform: translate3d(0px, -2px, 0px);
    }

    .tabs-md .tab-button {
        background-color: #387ef5;
        color: rgba(255, 255, 255, 0.6);
    }

    .tabs-md .tab-button[aria-selected="true"] {
        color: white;
    }
}
