<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{store.name}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page-store">
  <img src={{store.img_url}} style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  <!--<button id="store-button1" ion-button color="positive" full style="font-size:28px;border-radius:0px 0px 0px 0px;">
    Re-Order
  </button>-->
  <ion-list id="store-list5">
    <ion-item-divider color="light" id="store-list-item-divider2">
        <b>Information</b>
    </ion-item-divider>
    <ion-item color="none" id="store-list-item9">
      {{store.company}}
    </ion-item>
    <ion-item color="none" id="store-list-item10">
      {{store.address}}
    </ion-item>
    <ion-item color="none" id="store-list-item11">
      {{store.phone}}
    </ion-item>
  </ion-list>
  <ion-list text-wrap id="store-list-products">
    <ion-item-divider color="light" id="store-list-item-divider2">
      <b>Products</b>
    </ion-item-divider>
    <ion-item *ngFor="let prod of products" (click)="productClick(prod)" color="none" id="store-list-item16">
      <ion-thumbnail item-left> 
        <img src={{prod.imgurl}} />
      </ion-thumbnail>
      <h2>
        <br /> {{prod.name}}
        <br />
        <br /><b>Price:</b> {{prod.price}} DKK
      </h2>
      <ion-thumbnail item-right> 
          <ion-icon name="cart"></ion-icon>
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>