<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Map
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only solid>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content id="page2">
  <div id="map_canvas"></div>
</ion-content>