.ios .ion-page.show-page ~ .nav-decor {
    background: none;
    }

page-map {
    #page2{
        background: transparent !important;
        #map_canvas {
            height: 100%;
            width: 100%;
        }
    }
}