page-product {
    #product-list-item10{
        color: red;
    }

    #btn .iten-inner .input-wrapper .label-md {
        margin: 13px 0px 13px 0;
    }

    #btn .item-inner {
        padding-right: 0px;
    }

    #cart-button1 {
        height: 4em;
        font-size: 1.3em !important;
    }

    .item-md {
        border-bottom: 1px solid #dedede;
    }

    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }

    .list-md {
        margin: -1px 0 0px;
    }
}
