<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        {{product.name}}
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content id="page-product">
    <img src={{product.imgurl}} style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
    <ion-list text-wrap id="product-list5">
      <ion-item-divider color="light" id="product-list-item-divider2">
          <b>Description</b>
      </ion-item-divider>
      <ion-item color="none" id="product-list-item9">
        {{product.description}}
      </ion-item>
      <ion-item color="none" id="product-list-item10">
        <br />
        <br />
        <b>{{product.price}} DKK</b>
      </ion-item>
      <ion-item id="btn" padding>
        <button id="cart-button1" icon-end ion-button color="positive" full style="font-size:28px;border-radius:0px 0px 0px 0px;">
            Add to basket
            <ion-icon name="cart"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
