<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <img src="assets/img/hd0ROVaWT9CFuDqjibbO_circle_face.jpg" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
    <div id="menu-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">
        Hello
        <strong>
          Thomas
        </strong>
        !
      </p>
    </div>
    <ion-list id="menu-list8">
      <ion-item color="none" id="menu-list-item15">
        Profile
        <ion-icon name="contact" item-right></ion-icon>
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToMap()" id="menu-list-item20">
        Map
        <ion-icon name="map" item-right></ion-icon>
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToOrders()" id="menu-list-item21">
        Orders
        <ion-icon name="cart" item-right></ion-icon>
      </ion-item>
      <ion-item color="none" id="menu-list-item29">
        Settings
        <ion-icon name="settings" item-right></ion-icon>
      </ion-item>
      <ion-item-divider color="light" id="menu-list-item-divider4"></ion-item-divider>
      <ion-item color="none" id="menu-list-item33">
        Logout
        <ion-icon name="log-out" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>