<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Re-Order
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page10">
  <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
    <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
  </div>
  <div id="reOrder-container1">
    <button id="reOrder-button4" ion-button color="assertive" block>
      Cancel
    </button>
    <button id="reOrder-button3" ion-button color="balanced" block>
      Order
    </button>
  </div>
  <img src="assets/img/szd9OgHCQjSfegJ7UJWl_mcdonalds.jpg" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  <ion-list id="reOrder-list7">
    <ion-item color="none" id="reOrder-list-item22">
      McDonalds Hungary Ltd.
    </ion-item>
    <ion-item color="none" id="reOrder-list-item23">
      Elizabeth blvd. 365. / bc
    </ion-item>
    <ion-item color="none" id="reOrder-list-item24">
      +36 555 5555
    </ion-item>
    <ion-item-divider color="light" id="reOrder-list-item-divider3">
      Order
    </ion-item-divider>
    <ion-item color="assertive" id="reOrder-list-item25">
      <div align="center" style="font-size: 1.5em">
        <b>
          1500 HUF
        </b>
      </div>
    </ion-item>
    <ion-item color="none" id="reOrder-list-item26">
      <ion-thumbnail item-left>
        <img src="assets/img/b9auI9PTQ8Gla2WU55Q7_big_mac.jpg" />
      </ion-thumbnail>
      <h2>
        <br /> Big Mac sandwitch
        <br />
        <br /> 650 HUF
      </h2>
    </ion-item>
    <ion-item color="none" id="reOrder-list-item27">
      <ion-thumbnail item-left>
        <img src="assets/img/RBXFU1mNQ1ujAfz8UAZa_fries.jpg" />
      </ion-thumbnail>
      <h2>
        <br /> Big fries
        <br />
        <br /> 390 HUF
      </h2>
    </ion-item>
    <ion-item color="none" id="reOrder-list-item28">
      <ion-thumbnail item-left>
        <img src="assets/img/mUeTPBS9eQVt6AJcZ9QF_mcdonalds_drink.jpg" />
      </ion-thumbnail>
      <h2>
        <br /> Big soft drink
        <br />
        <br /> 460 HUF
      </h2>
    </ion-item>
  </ion-list>
</ion-content>