page-order-single {
    #order-single-list-products ion-item{
        padding: 0px;
    }
    .item-md ion-thumbnail {
        min-width: 10%;
        min-height: initial;
    }
    .item-md ion-thumbnail[item-left] {
        margin: 8px 16px 8px 16px;
    }
    
    ion-icon {
        font-size: 2.5em;
    }

    .item-md {
        border-bottom: 1px solid #dedede;
    }

    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }

    .list-md {
        margin: -1px 0 0px;
    }

    #order-single-button1 {
        margin-top: 16px;
        margin-bottom: 16px;
        min-height: 2.5em;
    }

    #order-single-list-price ion-label {
        color: red;
        font-size: 2.5rem;
        text-align: center;
    }
}
