<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        {{order.store.name}}
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content id="page-order-single">
    <img src={{order.store.img_url}} style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
    <button id="order-single-button1" ion-button color="positive" full style="font-size:28px;border-radius:0px 0px 0px 0px;">
      Re-Order
    </button>
    <ion-list id="order-single-list5">
      <ion-item-divider color="light" id="order-single-list-item-divider2">
          <b>Information</b>
      </ion-item-divider>
      <ion-item color="none" id="order-single-list-item9">
        {{order.store.company}}
      </ion-item>
      <ion-item color="none" id="order-single-list-item10">
        {{order.store.address}}
      </ion-item>
      <ion-item color="none" id="order-single-list-item11">
        {{order.store.phone}}
      </ion-item>
    </ion-list>
    <ion-list text-wrap id="order-single-list-products">
      <ion-item-divider color="light" id="order-single-list-item-divider2">
        <b>Order</b>
      </ion-item-divider>
      <ion-item color="none" id="order-single-list-price">
          <b>{{order.totalprice}} DKK</b>
      </ion-item>
      <ion-item *ngFor="let prod of products" (click)="productClick(prod)" color="none" id="order-single-list-item16">
        <ion-thumbnail item-left> 
          <img src={{prod.imgurl}} />
        </ion-thumbnail>
        <h2>
          <br /> {{prod.name}}
          <br />
          <br /><b>Price:</b> {{prod.price}} DKK
        </h2>
        <ion-thumbnail item-right> 
            <ion-icon name="cart"></ion-icon>
        </ion-thumbnail>
      </ion-item>
    </ion-list>
  </ion-content>