<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Orders
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only solid>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content id="page3" style="background-color:#FFFFFF;">
  <ion-list id="orders-list2">
    <!-- ////Filter active start\\\\ -->
    <ion-item-sliding *ngFor="let order of orders">
      <ion-item *ngIf="(order.status != 1)" color="none" (click)="orderClick(order)" id="orders-list-item2">
        <ion-thumbnail item-left>
          <img src={{order.store.img_url}} />
        </ion-thumbnail>
        <h2>
          <span class="status-{{order.status}}"><b>{{order.store.name}}</b></span>  
          <br />
          <span class="items">{{order.items}} item(s)</span>
          <br />
          <span class="price">{{order.totalprice}} DKK</span>
          <br />
          <span class="status-{{order.status}}" *ngIf="(order.status == 0)"><b>Waiting accept</b></span>
          <span class="status-{{order.status}}" *ngIf="(order.status == 2)"><b>Pick up</b></span>
          <span class="status-{{order.status}}" *ngIf="(order.status == 3)"><b>On the way</b></span>
          <br />
          <span class="date">21:35 05.01.2018</span>
        </h2>
        <ion-thumbnail class="status-{{order.status}}" item-right [ngSwitch]="order.status"> 
            <ion-icon *ngSwitchCase="2" name="basket"></ion-icon>
            <ion-icon *ngSwitchCase="3" name="car"></ion-icon>
            <ion-icon *ngSwitchCase="0" name="stopwatch"></ion-icon>
        </ion-thumbnail>
      </ion-item>
      <ion-item-options *ngIf="(order.status == 1)" side="right">
        <button ion-button color="assertive">
          View
        </button>
        <button ion-button color="positive">
          Reorder
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <!-- \\\\Filter active end//// -->

    <ion-item-divider color="light" id="orders-list-item-divider1">
      Previous orders
    </ion-item-divider>

    <!-- ////Filter inactive start\\\\ -->
    <ion-item-sliding *ngFor="let order of orders">
        <ion-item *ngIf="(order.status == 1)" color="none" (click)="orderClick(order)" id="orders-list-item3">
          <ion-thumbnail item-left>
            <img src={{order.store.img_url}} />
          </ion-thumbnail>
          <h2>
            <span class="status-{{order.status}}"><b>{{order.store.name}}</b></span>  
            <br />
            <span class="items">{{order.items}} item(s)</span>
            <br />
            <span class="price">{{order.totalprice}} DKK</span>
            <br />
            <span class="status-{{order.status}}"><b>Delivered</b></span>
            <br />
            <span class="date">21:35 05.01.2018</span>
          </h2>
          <ion-thumbnail item-right> 
              <ion-icon name="home"></ion-icon>
          </ion-thumbnail>
        </ion-item>
        <ion-item-options *ngIf="(order.status == 1)" side="right">
          <button ion-button color="assertive">
            View
          </button>
          <button ion-button color="positive">
            Reorder
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <!-- \\\\Filter inactive end//// -->
    
  </ion-list>
</ion-content>