page-orders {
    .list-md {
        margin: -1px 0 0px;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }
    .item-md {
        border-bottom: 1px solid #dedede;
        padding: 0px;
    }
    .item-md ion-thumbnail[item-left] {
        margin: 8px 16px 8px 16px;
    }
    .item-md ion-thumbnail {
        min-width: 10%;
        min-height: initial;
    }
    ion-icon {
        font-size: 2.5em;
    }
    #orders-list2 ion-item-sliding{
        padding: 0px;
    }

    .status {
        font-weight: bold;
    }
    .price {
        color: red;
    }
    /* Waiting for delivery acceptance */
    .status-0 {
        color: #ffad33;
    }
    /* Delivered */
    .status-1 {
        color: black;
    }
    /* Buying */
    .status-2 {
        color: #32cfff;
    }
    /* Enroute */
    .status-3 {
        color: green;
    }
    ion-item-divider{
        padding: 16px;
    }
}
